.contacts {

  &__info {

  }

  &__image {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 50%;
    border: 20px solid rgba(0, 0, 0, 0.9);
  }

  &__image-item {
    position: relative;
    display: block;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    border: 20px solid rgba(0, 0, 0, 0.4);
  }

  &__greeting {
    display: inline-block;
    background-color: #0bceaf;
    border-radius: 30px 30px 30px 0;
    font-size: 1rem;
    line-height: 1;
    padding: 10px;
  }

  &__desc {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__icon {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    fill:#fff;
    transition: 0.2s;
  }

  &__link {
    color: #fff;
    text-decoration: none;

    &:hover .contacts__icon {
      fill: #0bceaf;
    }
  }



}