.slider {
  margin: 0 0 70px 0;

  &__box {
    margin: 0 -15px;

    @media (max-width: 590px) {
      margin: 0 -5px;
    }
  }

  &__item {
    padding: 0 15px;

    @media (max-width: 590px) {
      padding: 0 5px;
    }
  }

  &__img-wrap {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;

    @media (max-width: 590px) {
      padding: 5px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
   }

  &__link {
  }

}
