.title {

  &_h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  &_h2 {
    font-size: 1.5rem;
    font-weight: 700;

    &:before {
      content: '';
      display: inline-block;
      height: 1.1rem;
      width: 5px;
      background-color: #0bceaf;
      margin-right: 10px;
    }
  }



}